/* charactersComponent's private CSS styles */
.selected {
  background-color: #cfd8dc !important;
  color: darkslategray;
}
.characters {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  height: 50%;
  width: 100%;
  li {
    cursor: pointer;
    position: relative;
    left: 0;
    width: 60%;
    background-color: #eee;
    margin: 0.5em;
    padding: 0.3em 0;
    height: 1.6em;
    border-radius: 4px;
    &.selected {
      background-color: #9ec5ca;
      border-style: solid;
      border-width: 2px;
      &:hover {
        color: darkslategray;
      }
    }
    &:hover {
      color: #607d8b;
      background-color: #ddd;
      left: 0.1em;
    }
  }
  .text {
    display: inline-block;
    position: relative;
    top: -3px;
    text-align: center;
  }
  .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607d8b;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: 0.8em;
    border-radius: 4px 0 0 4px;
  }
}
.character-column {
  width: 25%;
  float: left;
}
.details-column {
  width: 75%;
  float: left;
}
.accordian {
  background: #eee;
  color: #444444;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.messages {
  height: 50%;
  width: 100%;
  margin-bottom: 1em;
}

@media (max-width: 900px) {
  .character-column,
  .details-column {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .character-column,
  .details-column {
    width: 100%;
  }
}
