/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
@font-face{
  font-family: HyliaSerif;
  src: url("./assets/fonts/HyliaSerifBeta.otf");
}
body.dark{
  background-color: rgb(238, 177, 253);
}
body.light{
  background-color: rgb(252, 252, 174);
} 
h1, h2, h3, h4, h5, h6{
  font-family: HyliaSerif;
}
h1 {
  color: rgb(19, 85, 41);
  font-size: 175%;
  text-align: center;
}
h2, h3 {
  color: #444;
  font-weight: lighter;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 2px;
  margin-bottom: 2px;

}
body {
  margin: 2em;
  /* background: url('./Hylian_Crest.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 100vh; */
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
.details{
  width: 33%;
  float: left;
}
.skills{
  width: 67%;
  float: left;
}

.table{
  overflow-x: auto;
  width: 100%;
}

.info{
  color: rgba(0, 0, 0, 0.666);
  float: right;
}
table{
  width: 100%;
  background-color: inherit;
}
tr.weapon:nth-child(3n+1){
  background-color: rgba(233, 150, 150, 0.74);
  color: black;
} 
tr.weapon:nth-child(3n+2){
  background-color: rgba(150, 233, 150, 0.74);
  color: black;
}
tr.weapon:nth-child(3n){
  background-color: rgba(150, 150, 233, 0.74);
  color: black;
}
td{
  margin: 5px;
  padding: 5px;
  text-align: center;
  word-wrap: break-word;
}
td.name{
  text-align: left;
}
td.mod{
  text-align:left;
}
th{
  margin: 5px;
  width: 3.5em;
}
.column-holder::after{
  content: "";
  display: table;
  clear: both;
}
input{
  width: 50px;
}
td.total{
  font-weight: bold;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding: 0%;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.showModal{
  display: block;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  text-align: center;
  border-bottom: solid black 1px;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  margin: 5% 10%;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.small{
  width: 25%;
  margin-left: calc(75% /2 );
  margin-right: calc(75% /2 );
}

.body-header{
  align-content: stretch;
  margin-right: 0%;
  margin-left: 0%;
  padding-right: 0%;
  padding-left: 0%;
}
.tab{
  color: #444;
  border: none;
  background-color: #5cb85c;
  margin-right: 0em;
  margin-left: 0em;
  cursor: pointer;
  width: calc(100% / 8);
  padding: .25em 0em;
  border-width: 0em;
  float: left;
  text-align: center;
  transition: 0.6s;
}
.tab:hover{
  background-color: #229e22;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.din{
  background-color: rgba(233, 150, 150, 0.74);
  color: black;
}
.farore{
  background-color: rgba(150, 233, 150, 0.74);
  color: black;
}
.nayru{
  background-color: rgba(150, 150, 233, 0.74);
  color: black;
}
.accordian{
  background: #EEE;
  color: #444444;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  padding-top: 2px;
  padding-bottom: 2px;

}
.accordian:hover{
  background-color: #ccc;
}
.panel{
  padding: 5px 0px;
  background-color: inherit;
  display: none;
}
.active{
  display: block
}
.user{
  width: 8em;
}
.form{
  width: 40%;
}

.loading::before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 5px dotted;
  border-top-color: rgba(67.5, 67.5, 233, 1);
  border-left-color: rgba(233, 67.5, 67.5, 1);
  border-right-color: rgba(67.5, 233, 67.5, 1);
  border-bottom-color: rgba(191.5, 67.5, 191.5, 1);
  animation: spinner 0.7s linear infinite;
  -moz-animation: spinner 0.7s liner infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}


@media (max-width: 900px){
  .character-column{
    width: 100%;
  }
  .details-column{
    width: 100%;
  }
  .skills{
    width: 100%;
  }
  .details{
    width: 100%
  }
  .small{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  .tab{
    width: calc(200% / 8);
  }
  .modal-content{
    margin-top: 25%;
    margin-bottom: 25%;
  }
}

/* everywhere else */
/* {
  font-family: Arial, Helvetica, sans-serif;
}*/