@import '~@angular/material/theming';

@include mat-core();

$zelda-app-primary: mat-palette($mat-green, 400, 200, 500);
$zelda-app-accent: mat-palette($mat-purple, 300, 200, 500);

$zelda-app-warn: mat-palette($mat-red);

$zelda-app-theme: mat-light-theme(
  $zelda-app-primary,
  $zelda-app-accent,
  $zelda-app-warn
);

@include angular-material-theme($zelda-app-theme);
/* $dark-primary: mat-palette();
$dark-accent: mat-palette();
$dark-warn: mat-palette();
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.zelda-dark-theme{
  @include angular-material-theme($dark-theme);
} */
