<!--Modals for various actions liking taking damage and healing, maybe leveling up!-->
<div *ngIf="character">
  <!--Modify Health Modal-->
  <div class="modal" [class.showModal]="changeHP">
    <div class="modal-content small">
      <div class="modal-header">
        <span class="close" (click)="modHealth()">&times;</span>
        <h2>Modify Health</h2>
      </div>
      <div class="modal-body">
        <div class="body-head">
          Current HP:
          <span style="float:right; padding-right:5em; ">{{ character.health }}</span>
        </div>
        <select [(ngModel)]="type">
          <option value="-1">Take Damage</option>
          <option value="1">Regain Health</option>
        </select>
        <input type="number" [(ngModel)]="hpDmg" placeholder="{{ hpDmg }}" min="0" max="{{ character.maxHealth + 10 }}">
        <button class="square" (click)="modTheHMod(1)">+1</button>
        <button class="square" (click)="modTheHMod(5)">+5</button>
        <button class="square" (click)="modTheHMod(10)">+10</button>
        <div class="right">
          <button (click)="finalizeHealthMod()">Done</button>
        </div>
      </div>
    </div>
  </div>
  <!--Modify Magic Modal-->
  <div class="modal" [class.showModal]="changeMP">
    <div class="modal-content small">
      <div class="modal-header">
        <span class="close" (click)="modMagic()">&times;</span>
        <h2>Modify Magic</h2>
      </div>
      <div class="modal-body">
        <div class="body-head">
          Current MP:
          <span style="float:right; padding-right:5em; ">{{ character.magic }}</span>
        </div>
        <select [(ngModel)]="type">
          <option value="1">Restore Magic</option>
          <option value="-1">Cast Magic</option>
        </select>
        <input type="number" min="0" [(ngModel)]="mpDmg" placeholder="{{ mpDmg }}" max="{{ character.maxMagic }}">
        <button class="square" (click)="modTheMMod(1)">+1</button>
        <button class="square" (click)="modTheMMod(5)">+5</button>
        <button class="square" (click)="modTheMMod(10)">+10</button>
        <div class="right">
          <button (click)="finalizeMagicMod()">Done</button>
        </div>
      </div>
    </div>
  </div>
  <!--Level Up Modal-->
  <div class="modal" [class.showModal]="editMode">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" (click)="setEdit()">&times;</span>
        <h2>Level Up</h2>
      </div>
      <app-character-level-up [currChar]="character" #levelUp></app-character-level-up>
    </div>
  </div>
</div>
<!--The rest of the application the shows the characters attributes and skills-->
<div class="column-holder">
  <div *ngIf="character">
    <!--The table to show the characters attributes and the ability to roll dice with modifiers-->
    <div class="details">

      <button style="margin-bottom: 1em;" (click)="setEdit()">Level Up</button><br/>
      <button style="margin-bottom: 1em;" (click)="gotHeartContainer()">Get Heart Container</button>
      <button style="margin-bottom: 1em;" (click)="gotMagicContainer()">Get Magic Container</button>

      <button class="accordian" (click)="expandDets()">
        <h2>{{ character.name | uppercase }} Details</h2>
      </button>
      <div class="panel" [class.active]="showDets">
        <div class="attributes">
          <div class="table">
            <table>
              <thead>
                <tr>
                  <th>Trait</th>
                  <th>Value/Score</th>
                  <th>Modifier</th>
                </tr>
              </thead>
              <br/>
              <tbody>
                <tr>
                  <td class="name">Name</td>
                  <td>{{ character.name }}</td>
                </tr>
                <tr>
                  <td class="name">Race</td>
                  <td>{{ character.race }}</td>
                </tr>
                <tr [hidden]="!character.subRace">
                  <td class="name">Sub Race</td>
                  <td>{{ character.subRace }}</td>
                </tr>
                <br/>
                <tr *ngFor="let attr of character.attributes" [class.din]="attr.name === 'Strength' || attr.name === 'Intelligence'" [class.farore]="attr.name === 'Dexterity' || attr.name === 'Charisma'"
                  [class.nayru]="attr.name === 'Wisdom' || attr.name === 'Constitution'">
                  <td class="name">{{ attr.name }}</td>
                  <td>{{ attr.value }}</td>
                  <td>{{ attr.modifier }}</td>
                </tr>
                <br/>
                <tr></tr>
                <tr class="din">
                  <td class="name">Health</td>
                  <td>{{ character.health }} / {{ character.maxHealth }}</td>
                  <td>
                    <button (click)="modHealth()">Modify HP</button>
                  </td>
                </tr>
                <tr class="nayru">
                  <td class="name">Magic</td>
                  <td>{{ character.magic }} / {{ character.maxMagic }}</td>
                  <td>
                    <button (click)="modMagic()">Modify MP</button>
                  </td>
                </tr>
                <tr class="farore">
                  <td class="name">Experience</td>
                  <td>{{ character.exp }}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <br/>

      <h3> Roll Dice
        <span style="float: right; padding-right:5em;" *ngIf="roll" [class.crit]="this.crit" [class.critmiss]="this.critmiss" [class.maxDmg]="this.maxDmg">
          {{ roll }}
        </span>
      </h3>

      <h4> Add a modifier to your roll.</h4>
      <select [(ngModel)]="rollMod">
        <option value="null" selected="selected">None</option>
        <option *ngFor="let attr of character.attributes" [value]="attr.name">{{ attr.name }}</option>
      </select>
      <br>
      <br>
      <app-die [sides]="4" [character]="this" [mod]="rollMod"></app-die>
      <app-die [sides]="6" [character]="this" [mod]="rollMod"></app-die>
      <app-die [sides]="8" [character]="this" [mod]="rollMod"></app-die>
      <app-die [sides]="12" [character]="this" [mod]="rollMod"></app-die>
      <app-die [sides]="20" [character]="this" [mod]="rollMod"></app-die>
      <app-die [sides]="100" [character]="this"></app-die>


    </div>
    <!--The table to show the character's skills (weapon, magic and normal)-->
    <div class="skills scrollable">
      <div class="menuBar" [class.active]="showSet[0]" (click)="changeSection(0)">
        <h4 class="menu">{{ character.name }} Skills</h4>
      </div>
      <div class="menuBar" [class.active]="showSet[1]" (click)="changeSection(1)">
        <h4 class="menu">{{ character.name }} Weapons</h4>
      </div>
      <div class="menuBar" [class.active]="showSet[2]" (click)="changeSection(2)">
        <h4 class="menu">{{ character.name }} Spells</h4>
      </div>
      <div *ngIf="showSet[0]">
        <app-character-skills [character]="character"></app-character-skills>
      </div>
      <div *ngIf="showSet[1]">
        <app-character-weapon [character]="character"></app-character-weapon>
      </div>
      <div *ngIf="showSet[2]">
        <app-character-spell [character]="character"></app-character-spell>
      </div>
    </div>
  </div>
</div>