.race-input{
  width: 100%;
}
.radio{
  width: 100%;
  float: left;
  position: relative;
}
.button{
  width: 40%;
  float: left;
}

input.skill{
  width: 5em;
}
.skill-input{
  width: 3em;
}
h4{
  color: #444;
}
.error{
  color: red;
}
.title{
  display: inline;
  font-weight: bold;
}
.description{
  position: relative;
}
input:out-of-range{
  background-color: lightcoral;
} 