<div class="column-holder">
  <div class="details">
    <h2>{{ newCharacter.name }} Details</h2>

    <button (click)="save()">Save Character</button>
    <button (click)="cancel()">Cancel New Character</button>
    <h3> Choose your race.</h3>
    <div class="race-input">
      <select [(ngModel)]="newCharacter.race" (change)="raceChange()">
        <option value="Hylian">Hylian</option>
        <option value="Zora">Zora</option>
        <option value="Goron">Goron</option>
        <option value="Gerudo">Gerudo</option>
        <option value="Sheikah">Sheikah</option>
        <option value="Twili">Twili</option>
        <option value="Rito">Rito</option>
        <option value="Fairy">Fairy</option>
      </select>
      <div *ngIf="newCharacter.race && !(newCharacter.race ==='Gerudo' || newCharacter.race === 'Twili' || newCharacter.raace === 'Sheikah')">
        <h3>Choose your sub-race.</h3>

        <div *ngIf="newCharacter.race==='Hylian'">
          <select [(ngModel)]="newCharacter.subRace" (change)="raceChange()">
            <option value="Farmer">Farmer</option>
            <option value="Sheikah">Sheikah</option>
            <option value="Guard">Guard</option>
          </select>
        </div>
        <div *ngIf="newCharacter.race==='Goron'">
          <select [(ngModel)]="newCharacter.subRace" (change)="raceChange()">
            <option value="Rock Spine">Rock Spine</option>
            <option value="Soft Belly">Soft Belly</option>
          </select>
        </div>
        <div *ngIf="newCharacter.race==='Zora'">
          <select [(ngModel)]="newCharacter.subRace" (change)="raceChange()">
            <option value="River">River</option>
            <option value="Ocean">Ocean</option>
            <option value="Swamp">Swamp</option>
          </select>
        </div>
        <div *ngIf="newCharacter.race==='Fairy'">
          <select [(ngModel)]="newCharacter.subRace" (change)="raceChange()">
            <option value="Din">Din</option>
            <option value="Farore">Farore</option>
            <option value="Nayru">Nayru</option>
          </select>
        </div>
        <div *ngIf="newCharacter.race==='Rito'" (change)="raceChange()">
          <select [(ngModel)]="newCharacter.subRace">
            <option value="Sharp Eye">Sharp Eye</option>
            <option value="Telescopic Sight">Telescopic Sight</option>
            <option value="Sharp Tongue">Sharp Tongue</option>
            <option value="Skilled Mimicry">Skilled Mimicry</option>
          </select>
        </div>

      </div>
    </div>
    &nbsp;
    <div class="attributes">
      <table>
        <thead>
          <tr>
            <th>Traits</th>
            <th>Value/Score</th>
            <th>Modifier</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name</td>
            <td>
              <input class="skill" type="text" [(ngModel)]="newCharacter.name" placeholder="Name" maxlength="10">
            </td>
          </tr>

          <br/>

          <tr *ngFor="let attr of newCharacter.attributes">
            <td>{{ attr.name }}</td>
            <td>
              <input type="number" [(ngModel)]="attr.value" max="24">
            </td>
            <td>
              {{ calcMod(attr) }} {{ attr.modifier }}
            </td>
          </tr>

          <br/>

          <tr>
            <td>Health</td>
            <td>
              {{ 48+newCharacter.attributes[2].modifier }}
            </td>
          </tr>
          <tr>
            <td>Magic</td>
            <td>
              {{ 20+newCharacter.attributes[4].modifier }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="skills scrollable">
    <h2>{{ newCharacter.name }} Skills</h2>
    <table>
      <thead>
        <tr>
          <th>Trained</th>
          <th>Skill Name</th>
          <th>Skill Ranks</th>
          <th>Racial Bonus</th>
          <th>Modifier</th>
          <th>Item Bonus</th>
          <th>Misc Bonus</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let skill of newCharacter.skills">
          <td>
            <input class="skill-input" disabled type="checkbox" [(ngModel)]="skill.trained">
          </td>
          <td class="name">
            <div *ngIf="skill.skillName==='Craft 1' || skill.skillName==='Craft 2' || skill.skillName==='Profession' || skill.skillName==='Perform'; then specialSkill; else normalSkill"></div>

            <ng-template #specialSkill>
              <div *ngIf="skill.skillName==='Craft 1'">
                {{ skill.skillName.substr(0, skill.skillName.length-1)}}
                <input class="skill" type="text" [(ngModel)]="newCharacter.craftOne" placeholder="Craft One">
              </div>
              <div *ngIf="skill.skillName==='Craft 2'">
                {{ skill.skillName.substr(0, skill.skillName.length-1)}}
                <input class="skill" type="text" [(ngModel)]="newCharacter.craftTwo" placeholder="Craft Two">
              </div>
              <div *ngIf="skill.skillName==='Profession'">
                {{ skill.skillName }}
                <input class="skill" type="text" [(ngModel)]="newCharacter.profession" placeholder="Profession">
              </div>
              <div *ngIf="skill.skillName==='Perform'">
                {{ skill.skillName }}
                <input class="skill" type="text" [(ngModel)]="newCharacter.performCust" placeholder="(Other)">
              </div>
            </ng-template>
            <ng-template #normalSkill>
              {{ skill.skillName }}
            </ng-template>
          </td>
          <td>
            <input class="skill-input" type="number" [(ngModel)]="skill.ranks">
          </td>
          <td>
            {{ skill.racial }}
          </td>
          <td class="mod">
            {{ skill.modifier.substr(0,3) | uppercase }}
            <span class="info">{{ getMod(skill.modifier) }}</span>
          </td>
          <td>
            <input class="skill-input" type="number" [(ngModel)]="skill.item">
          </td>
          <td>
            <input class="skill-input" type="number" [(ngModel)]="skill.misc">
          </td>
          <td class="total">
            {{ (skill.trained ? 3 : 0) + skill.ranks + getMod(skill.modifier) + skill.item + skill.misc + skill.racial}}
          </td>
        </tr>
      </tbody>
    </table>

    <h2>{{ newCharacter.name }} Weapon Skills</h2>

    <table>
      <thead>
        <tr>
          <th>Trained</th>
          <th>Weapon Type</th>
          <th>Skill Ranks</th>
          <th>Racial Bonus</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let weapon of newCharacter.weaponSkills">
          <td>
            <input type="checkbox" disabled [(ngModel)]="weapon.trained">
          </td>
          <td>{{weapon.skillName }}</td>
          <td>
            <input type="number" [(ngModel)]="weapon.ranks">
          </td>
          <td>
            {{ weapon.racial }}
          </td>
          <td class="total">
            {{ (weapon.trained ? 3 : 0) + weapon.ranks + weapon.racial }}
          </td>
        </tr>
      </tbody>
    </table>

    <h2>{{ newCharacter.name }} Magic Skills</h2>

    <table>
      <thead>
        <tr>
          <th>Magic Type</th>
          <th>Modifier</th>
          <th>Skill Ranks</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let magic of newCharacter.magicSkills">
          <td>{{ magic.skillName }}</td>
          <td class="mod">
            {{ magic.modifier.substr(0,3) | uppercase }}
            <span class="info">{{ getMod(magic.modifier) }}</span>
          </td>
          <td>
            <input [(ngModel)]="magic.ranks">
          </td>
          <td class="total">
            {{ magic.ranks + getMod(magic.modifier) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>