<div class="modal" [class.showModal]="newWeapon">
  <div class="modal-content smaller">
    <div class="modal-header">
      <span class="close" (click)="addWeapon()">&times;</span>
      <h2>Add Weapon</h2>
    </div>
    <div class="modal-body">
      <div class="table-holder">
        <div class="improv-table">
          <b>Weapon name</b>
          <input id="weaponName" type="text" [ngModel]="weapon.getName()" (ngModelChange)="weapon.setName($event)" (blur)="validate('weaponName', 'name')">
        </div>
        <div class="improv-table">
          <b>Weapon Type</b>
          <select id="weaponType" [ngModel]="weapon.getType()" (ngModelChange)="weapon.setType($event)" (blur)="validate('weaponType', 'type')" (change)="checkForRanged()">
            <option *ngFor="let weaponS of allWeapons | enumToArray" value="{{ weaponS }}">{{ weaponS }}</option>
          </select>
        </div>
        <div class="improv-table">
          <b>Number of Dice</b>
          <select id="weaponMult" [ngModel]="weapon.getNOfA()" (ngModelChange)="weapon.setNOfA($event)" (blur)="validate('weaponMult', 'numberOfAttacks')">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
        <div class="improv-table">
          <b>Dice Type</b>
          <select id="weaponDam" [ngModel]="weapon.getAttack()" (ngModelChange)="weapon.setAttack($event)" (blur)="validate('weaponDam','attack')">
            <option value="4">D4</option>
            <option value="6">D6</option>
            <option value="8">D8</option>
            <option value="10">D10</option>
            <option value="12">D12</option>
          </select>
        </div>
        <div class="improv-table">
          <b>Critical Hit Range</b>
          <select id="critRange" [ngModel]="weapon.getCritRange()" (ngModelChange)="weapon.setCritRange($event)" (blur)="validate('critRange', 'critRange')" (change)="setCrit()">
            <option value="18,19,20">18-20</option>
            <option value="19,20">19-20</option>
            <option value="20">20</option>
          </select>
        </div>
        <div class="improv-table">
          <b>Critical Hit Multiplier</b>
          <select id="weaponCrit" [ngModel]="weapon.getCritDamage()" (ngModelChange)="weapon.setCritDamage($event)" (blur)="validate('weaponCrit', 'critDamage')">
            <option value="2">X 2</option>
            <option value="3">X 3</option>
            <option value="4">X 4</option>
          </select>
        </div>
        <div class="improv-table">
          <b>Damage Modifier</b>
          <select id="weaponMod" [ngModel]="weapon.getModifier()" (ngModelChange)="weapon.setModifier($event)" (blur)="validate('weaponMod', 'modifier')">
            <option selected hidden>--Select the Damage Modifier</option>
            <option *ngFor="let attr of attributes | enumToArray" value="{{ attr }}">{{ attr }}</option>
          </select>
        </div>
        <div *ngIf="isRangedWeapon">
          <div class="improv-table rangedWeapon">
            <b>Range</b>
            <input id="weaponRange" [ngModel]="weapon.getRange()" (ngModelChange)="weapon.setRange($event)" step="5" (blur)="validate('weaponRange', 'range')">
          </div>
          <div class="improv-table rangedWeapon">
            <b>Ammo (if any)</b>
            <input id="weaponAmmo" [ngModel]="weapon.getAmmo()" (ngModelChange)="weapon.setAmmo($event)" step="5" (blur)="validate('weaponAmmo', 'ammo')">
          </div>
        </div>
        <div class="improv-table">
          <b>Element</b>
          <input type="checkbox" [(ngModel)]="isElemental" (click)="makeElement()">
        </div>
        <div *ngIf="isElemental">
          <div class="improv-table">
            <b>Element Type</b>
            <select id="eType" [ngModel]="elemental.getType()" (ngModelChange)="elemental.setType($event)" (blur)="validateElement('eType','type')">
              <option *ngFor="let elem of elements | enumToArray" value="{{ elem }}">{{ elem }}</option>
            </select>
          </div>
          <div class="improv-table">
            <b>Number of Elemental Dice</b>
            <select id="elementalMult" [ngModel]="elemental.getNOfA()" (ngModelChange)="elemental.setNOfA($event)" (blur)="validateElement('elementalMult', 'numberOfAttacks')">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
          <div class="improv-table">
            <b>Elemental Dice Type</b>
            <select id="elementDam" [ngModel]="elemental.getAttack()" (ngModelChange)="elemental.setAttack($event)" (blur)="validateElement('elementDam','attack')">
              <option value="4">D4</option>
              <option value="6">D6</option>
              <option value="8">D8</option>
              <option value="10">D10</option>
              <option value="12">D12</option>
            </select>
          </div>
        </div>

      </div>
      <div class="submit-button">
        <button class="center" (click)="saveWeapon()">Save Weapon</button>
      </div>
    </div>
  </div>
</div>

<button (click)="addWeapon()">New Weapon</button>
<div *ngIf="character.getWeapons()" class="table">
  <div class="spellRoll">
    <div *ngIf="weaponName">
      <h4>{{ weaponName }}</h4>
      <span>Roll to hit:</span>
      <span id="rollToHit">{{ rollToHit }}</span>
      <br/>
      <span>Damage Roll:</span>
      <span id="weaponDmg">{{ dmgRoll }}</span>
      <br/>
    </div>
    <div *ngIf="elemRoll">
      <span>Elemental Roll:</span>
      <span id="elementalDmgRoll">{{ elemRoll }}</span>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Weapon Name</th>
        <th>Weapon Type</th>
        <th>Weapon Damage</th>
        <th>Critical Hit Range</th>
        <th>Critical Multiplier</th>
        <th>Damage Modifier</th>
        <th>Range</th>
        <th>Ammo</th>
        <th>Element</th>
        <th>Elemental Damage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let weapon of character.getWeapons() index as i" [class.din]="weapon.getModifier() === 'Strength' || weapon.getModifier() === 'Intelligence'" [class.farore]="weapon.getModifier() === 'Dexterity' || weapon.getModifier() === 'Charisma'" [class.nayru]="weapon.getModifier() === 'Wisdom' || weapon.getModifier() === 'Constitution'">
        <td class="weaponName" (click)="attack(i)">{{ weapon.getName() }}</td>
        <td>{{ weapon.getType() }}</td>
        <td>{{ weapon.getNOfA() }}D{{ weapon.getAttack() }}</td>
        <td>{{ weapon.getCritRange() }}</td>
        <td>X{{ weapon.getCritDamage() }}</td>
        <td>{{ weapon.getModifier() }}</td>
        <td>{{ weapon.getRange() ? weapon.getRange() : 'N/A' }}</td>
        <td>{{ weapon.getAmmo() ? weapon.getAmmo() : 'N/A' }}</td>
        <td>{{ weapon.getElement() ? weapon.getElement().getType() : 'N/A'}}</td>
        <td>{{ weapon.getElement() ? ((weapon.getElement().getNOfA() !== null && weapon.getElement().getAttack() !== null) ? weapon.getElement().getNOfA() + 'D' + weapon.getElement().getAttack() : 'N/A'): 'N/A'}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="weaponSkills">
  <button class="accordian" (click)="expandWeapon()">
    <h2>{{ character.getName() | uppercase }} Weapon Skills</h2>
  </button>
  <div class="panel" [class.active]="showWeapon">
    <div class="table">
      <table>
        <thead>
          <tr>
            <th>Trained</th>
            <th>Weapon Type</th>
            <th>Skill Ranks</th>
            <th>Racial Bonus</th>
            <th>Total
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let weapon of character.getWeaponSkills()" class="weapon">
            <td>
              <input type="checkbox" [checked]="weapon.getTrained()" disabled="true" />
            </td>
            <td class="name">{{ weapon.getSkillName() }}</td>
            <td>{{ weapon.getRanks() }}</td>
            <td>{{ weapon.getRacial() }}</td>
            <td class="total">{{ (weapon.getTrained() ? 3 : 0) + weapon.getRanks() + weapon.getRacial() }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
