%small {
  width: 25%;
  float: left;
}

%medium-small {
  width: 33%;
  float: left;
}

%medium {
  width: 50%;
  float: left;
}

%medium-large {
  width: 67%;
  float: left;
}

%large {
  width: 75%;
  float: left;
}

@media (max-width: 900px) {
  %medium-small,
  %medium-large {
    width: 100%;
  }
  %small,
  %large {
    width: 50%;
  }
}

@media (max-width: 600px) {
  %small,
  %large {
    width: 100%;
  }
}
