$Nayru: rgba(150, 150, 233, 0.74);
$Din: rgba(233, 150, 150, 0.74);
$Farore: rgba(150, 233, 150, 0.74);
$Majora: rgba(191.5, 67.5, 191.5, 1);
$background: #229e22;
$light: rgb(252, 252, 174);
$dark: rgb(238, 177, 253);
