<!--The content below is only a placeholder and can be replaced.-->
<button (click)="toggleBackground()">Toggle Theme</button>
<button (click)="about()">About!</button>
<button (click)="characterCreate()">About Creating a Character</button>
<div class="modal" [class.showModal]="showModal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="about()">&times;</span>
      <h2>Welcome to the {{ title }}</h2>
    </div>
    <div class="modal-body">
      <p>Welcome to the ZeldaPlay character tracker! This web application is meant for you to be able to create,
        save, and track your ZeldaPlay's character's stats and skills! This application is currently still a work in progress,
        and may not look like the finished product. Do keep in mind that the dev team is small and the ambitions of the project
        are very, very large. I hope you do enjoy the use of the character tracker! Now, on to adventuring!</p>
      <div class="foot">
        <a href="https://github.com/jmcdo29/zeldaPlay#zeldaplay" target="_blank">Source Code</a>
      </div>
    </div>
  </div>
</div>
<div class="modal" [class.showModal]="showCharacterCreate">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="characterCreate()">&times;</span>
      <h2>Character Creation</h2>
    </div>
    <div class="body-header">
      <div class="tab large" (click)="showTab(0)">Choosing a Race</div>
      <div class="tab large" (click)="showTab(1)">Allocating Attributes</div>
      <div class="tab large" (click)="showTab(2)">Setting your Skills</div>
    </div>
    <div class="modal-body">
      <div *ngIf="showRace">
        <h3>Choosing your Race</h3>
        <p>In ZeldaPlay, your race strongly determines your class. While the ability to allocate skill points to weapons makes
          it easier to "multi-class", and while classes do not entirely exist, the race you chose to play very much plays
          a factor into the kind of class you will play to. For example: a Sheikah will almost always play a rogue-like character.
          Very rarely would you find a Sheikah player charing into battle with a great sword or tower shield expecting to
          single-handedly destroy the opposing forces. Instead, that would normally be a Goron wielding a hammer.</p>
        <small>Note: While your race does not define your class, it very much plays a factor into what kind of character you should
          probably play. It is a suggestion, not a rule. While you probably will not find the aforementioned Sheikah, it
          is not entirely impossible.</small>
      </div>
      <div *ngIf="showAttributes">
        <h3>Allocating your Attribute Points</h3>
        <p>Your attribute points are your stat points. These help you determine your Strength, Dexterity, and other attributes
          about your character. To describe each of the attributes, here is an example with tomatoes:</p>
        <ul>
          <li>
            <p class="stat">Strength:</p>
            <span class="description"> The ability to crush a tomato.</span>
          </li>
          <li>
            <p class="stat">Dexterity:</p>
            <span class="description"> The ability to dodge a tomato.</span>
          </li>
          <li>
            <p class="stat">Constitution:</p>
            <span class="description"> The ability to eat a bad tomato.</span>
          </li>
          <li>
            <p class="stat">Intelligence:</p>
            <span class="description"> Knowing that a tomato is a fruit.</span>
          </li>
          <li>
            <p class="stat">Wisdom:</p>
            <span class="description"> Knowing not to put a tomato in a fruit salad.</span>
          </li>
          <li>
            <p class="stat">Charisma:</p>
            <span class="description"> Being able to sell a tomato based fruit salad.</span>
          </li>
        </ul>
        <small class="hidden">Note: If you said that a tomato based fruit salad is just salsa, congratulations, you're a bard.</small>
        <p></p>
      </div>
      <div *ngIf="showSkills">
        <h3>Assigning your Skills</h3>
        <p>Your skills are your abilities. In every day life, in combat, in knowledge, magic, thievery: they are your tools
          of the trade so to speak. Most of the time your skills will play towards your character. Most Gerudo will not have
          the initial ability to Bluff or Ride, but they will always know how to intimidate anyone they need to and how to
          handle their weapons. When you create a character you are given 5, 10, 15, or 20 skill points based on a randomly
          generated number (normally the roll of a d4 die). From there you can put those points into your regular skills,
          weapon skills, or magic skills. Keep in mind as well that all skills, whether you are trained in them or not, are
          available to all characters. This just means that a Fairy that wants to use intimidate will have a much harder
          time than the Gerudo from earlier. If you can't get all the skills you want, don't worry; you gain 10 skill points
          every level up along with an extra attribute point!</p>
        <small>Note: Skill points are shared across Skills, Weapons, and Magic. Spend them wisely.</small>
      </div>
    </div>
  </div>
</div>
<app-alert></app-alert>
<router-outlet></router-outlet>
<!-- <app-characters></app-characters> -->