<div class="modal-body">
  <div>
    <mat-tab-group id="topTab" [(selectedIndex)]="topTab">
      <mat-tab label="Attributes">
        <p style="text-align: center;">
          Congratulations on leveling up! You may now place
          <b>{{ attrPoints }}</b> attribute point into any attribute!
        </p>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th>Trait</th>
                <th>Score</th>
                <th>Modifier</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let attr of currChar.attributes; index as i"
                [class.din]="
                  attr.name === 'Strength' || attr.name === 'Intelligence'
                "
                [class.farore]="
                  attr.name === 'Dexterity' || attr.name === 'Charisma'
                "
                [class.nayru]="
                  attr.name === 'Wisdom' || attr.name === 'Constitution'
                "
              >
                <td class="name">{{ attr.name }}</td>
                <td>
                  <mat-form-field>
                    <input
                      matInput
                      id="{{ 'attr' + i }}"
                      type="number"
                      placeholder="{{ attr.value }}"
                      min="{{ minimums[i] }}"
                      max="{{
                        attr.value + attrPoints > minimums[i]
                          ? attr.value + attrPoints
                          : minimums[i]
                      }}"
                      [(ngModel)]="attr.value"
                      (change)="trackAtt(i)"
                      (blur)="validateAttr(i)"
                    />
                  </mat-form-field>
                </td>
                <td>{{ attr.modifier }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Skills">
        <p style="text-align: center;">
          Congratulations on leveling up! You may now place
          <b>{{ skillPoints }}</b> skill point into whicever skills you would
          like!
        </p>
        <mat-tab-group [(selectedIndex)]="secondTab">
          <mat-tab class="second-level" label="Skills">
            <div class="table">
              <table>
                <thead>
                  <tr>
                    <th>Trained</th>
                    <th>Skill Name</th>
                    <th>Skill Ranks</th>
                    <th>Racial Bonus</th>
                    <th>Modifier</th>
                    <th>Item Bonus</th>
                    <th>Misc. Ranks</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let skill of currChar.skills; index as i"
                    [class.din]="
                      skill.modifier === 'Strength' ||
                      skill.modifier === 'Intelligence'
                    "
                    [class.farore]="
                      skill.modifier === 'Dexterity' ||
                      skill.modifier === 'Charisma'
                    "
                    [class.nayru]="
                      skill.modifier === 'Wisdom' ||
                      skill.modifier === 'Constitution'
                    "
                  >
                    <td>
                      <mat-checkbox
                        disabled
                        [checked]="skill.trained"
                        class="skill-input"
                      ></mat-checkbox>
                    </td>
                    <td class="name">
                      <div
                        *ngIf="
                          skill.skillName === 'Craft 1' ||
                            skill.skillName === 'Craft 2' ||
                            skill.skillName === 'Profession' ||
                            skill.skillName === 'Perform';
                          then specialSkill;
                          else normalSkill
                        "
                      ></div>
                      <ng-template #specialSkill>
                        <div *ngIf="skill.skillName === 'Craft 1'">
                          {{
                            skill.skillName.substr(
                              0,
                              skill.skillName.length - 1
                            )
                          }}
                          {{ currChar.craftOne }}
                        </div>
                        <div *ngIf="skill.skillName === 'Craft 2'">
                          {{
                            skill.skillName.substr(
                              0,
                              skill.skillName.length - 1
                            )
                          }}
                          {{ currChar.craftTwo }}
                        </div>
                        <div *ngIf="skill.skillName === 'Profession'">
                          {{ skill.skillName }} {{ currChar.profession }}
                        </div>
                        <div *ngIf="skill.skillName === 'Perform'">
                          {{ skill.skillName }} {{ currChar.performCust }}
                        </div>
                      </ng-template>
                      <ng-template #normalSkill>
                        {{ skill.skillName }}
                      </ng-template>
                    </td>
                    <td>
                      <mat-form-field>
                        <input
                          matInput
                          id="{{ 'skills' + i }}"
                          class="skill-input"
                          type="number"
                          [(ngModel)]="skill.ranks"
                          min="{{ skillStarts[i] }}"
                          max="{{
                            skill.ranks + skillPoints > skillStarts[i]
                              ? skill.ranks + skillPoints
                              : skillStarts[i]
                          }}"
                          (change)="track(i, 'skills')"
                          (blur)="validate(i, 'skills')"
                        />
                      </mat-form-field>
                    </td>
                    <td>{{ skill.racial }}</td>
                    <td class="mod">
                      {{ skill.modifier.substr(0, 3) | uppercase }}
                      <span class="info">{{ getMod(skill.modifier) }}</span>
                    </td>
                    <td>{{ skill.item }}</td>
                    <td>{{ skill.misc }}</td>
                    <td class="total">
                      {{
                        (skill.trained ? 3 : 0) +
                          skill.ranks +
                          getMod(skill.modifier) +
                          skill.item +
                          skill.misc +
                          skill.racial
                      }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
          <mat-tab class="second-level" label="Weapon Skills">
            <div class="table">
              <table>
                <thead>
                  <tr>
                    <th>Trained</th>
                    <th>Weapon Type</th>
                    <th>Skill Ranks</th>
                    <th>Racial Bonus</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let weapon of currChar.weaponSkills; index as j"
                    class="weapon"
                  >
                    <td>
                      <mat-checkbox
                        class="skill-input"
                        disabled
                        [checked]="weapon.trained"
                      ></mat-checkbox>
                    </td>
                    <td class="name">{{ weapon.skillName }}</td>
                    <td>
                      <mat-form-field>
                        <input
                          matInput
                          id="{{ 'weaponSkills' + j }}"
                          class="skill-input"
                          type="number"
                          min="{{ weaponStarts[j] }}"
                          max="{{
                            weapon.ranks + skillPoints > weaponStarts[j]
                              ? weapon.ranks + skillPoints
                              : weaponStarts[j]
                          }}"
                          [(ngModel)]="weapon.ranks"
                          (change)="track(j, 'weaponSkills')"
                          (blur)="validate(j, 'weaponSkills')"
                        />
                      </mat-form-field>
                    </td>
                    <td>{{ weapon.racial }}</td>
                    <td>
                      {{
                        (weapon.trained ? 3 : 0) + weapon.ranks + weapon.racial
                      }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
          <mat-tab class="second-level" label="Magic Skills">
            <div class="table">
              <table>
                <thead>
                  <tr>
                    <th>Magic Type</th>
                    <th>Modifier</th>
                    <th>Skill Ranks</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let magic of currChar.magicSkills; index as k"
                    [class.din]="magic.modifier === 'Intelligence'"
                    [class.farore]="magic.modifier === 'Charisma'"
                    [class.nayru]="magic.modifier === 'Wisdom'"
                  >
                    <td class="name">{{ magic.skillName }}</td>
                    <td class="mod">
                      {{ magic.modifier.substr(0, 3) | uppercase }}
                      <span class="info">{{ getMod(magic.modifier) }}</span>
                    </td>
                    <td>
                      <mat-form-field>
                        <input
                          matInput
                          id="{{ 'magicSkills' + k }}"
                          class="skill-input"
                          type="number"
                          [(ngModel)]="magic.ranks"
                          min="{{ magicStarts[k] }}"
                          max="{{
                            magic.ranks + skillPoints > magicStarts[k]
                              ? magic.ranks + skillPoints
                              : magicStarts[k]
                          }}"
                          (change)="track(k, 'magicSkills')"
                          (blur)="validate(k, 'magicSkills')"
                        />
                      </mat-form-field>
                    </td>
                    <td class="total">
                      {{ magic.ranks + getMod(magic.modifier) }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
