.race-input {
  width: 100%;
}
.radio {
  width: 100%;
  float: left;
  position: relative;
}
.button {
  width: 40%;
  float: left;
}

input.skill {
  width: 5em;
}
.skill-input {
  width: 3em;
}
h4 {
  color: #444;
}
.error {
  color: purple;
}
.title {
  display: inline;
  font-weight: bold;
}
.description {
  position: relative;
}
input {
  &.non-zero:in-range {
    background-color: lightskyblue;
  }
  &.bad-input,
  &:out-of-range {
    background-color: lightcoral;
  }
}

mat-form-field {
  padding: 0;
  &.attribute {
    width: 3em;
  }
  &.skill {
    width: 3em;
  }
  &.custom {
    width: 5em;
  }
  &.name {
    width: 8em;
  }
  &.race {
    width: 10em;
    padding-right: 2em;
    &:first-of-type {
      margin-top: 0.5em;
    }
  }
}
