$Nayru: rgba(150, 150, 233, 0.74);
$Din: rgba(233, 150, 150, 0.74);
$Farore: rgba(150, 233, 150, 0.74);
$Majora: rgba(191.5, 67.5, 191.5, 1);
$tab-primary: #5cb85c;
$background-light: rgb(252, 252, 174);
$background-dark: rgb(238, 177, 253);
$error: #700808;
