<!--The content below is only a placeholder and can be replaced.-->
<button (click)="about()">About!</button>
<div class="modal" [class.showModal]="showModal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="about()">&times;</span>
      <h2>Welcome to the{{ title }}</h2>
    </div>
    <div class="modal-body">
      <p>Once again, welcome to the ZeldaPlay character tracker! This web application is meant for you to be able to create,
        save, and track your ZeldaPlay's character's stats and skills! This application is currently still a work in progress,
        and may not look like the finished product. Do keep in mind that the dev team is small and the ambitions of the project
        are very, very large. I hope you do enjoy the use of the character tracker! Now, on to adventuring!</p>
    </div>
  </div>
</div>
<app-characters></app-characters>