<table>
  <thead>
    <tr>
      <th>Save Type</th>
      <th>Racial Bonus</th>
      <th>Modifier Bonus</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let save of (character.savingThrows | enumToArray); index as i"
      [class.din]="i % 3 === 0"
      [class.farore]="i % 3 === 1"
      [class.nayru]="i % 3 === 2"
    >
      <td class="name">
        <button mat-flat-button (click)="makeSave(save.name)" class="save">
          {{ save.name }}
        </button>
      </td>
      <td>{{ save.racial }}</td>
      <td class="mod">
        {{ save.modifier.substr(0, 3) | uppercase }}
        <span class="info">{{
          character.attributes[attributes[save.modifier]].modifier
        }}</span>
      </td>
      <td>
        {{
          save.racial + character.attributes[attributes[save.modifier]].modifier
        }}
      </td>
    </tr>
  </tbody>
</table>
