<div class="modal" [class.showModal]="newWeapon">
  <div class="modal-content smaller">
    <div class="modal-header">
      <span class="close" (click)="addWeapon()">&times;</span>
      <h2>Add Weapon</h2>
    </div>
    <div class="modal-body">
      <div class="table-holder">
        <div class="improv-table">
          <b>Weapon name</b>
          <input id="weaponName" type="text" [(ngModel)]="weapon.name" (blur)="validate('weaponName', 'name')">
        </div>
        <div class="improv-table">
          <b>Weapon Type</b>
          <select id="weaponType" [(ngModel)]="weapon.type" (blur)="validate('weaponType', 'type')" (change)="checkForRanged()">
            <option *ngFor="let weaponS of allWeapons | enumToArray" value="{{ weaponS }}">{{ weaponS }}</option>
          </select>
        </div>
        <div class="improv-table">
          <b>Number of Dice</b>
          <select id="weaponMult" [(ngModel)]="weapon.numberOfAttacks" (blur)="validate('weaponMult', 'numberOfAttacks')">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
        <div class="improv-table">
          <b>Dice Type</b>
          <select id="weaponDam" [(ngModel)]="weapon.attack" (blur)="validate('weaponDam','attack')">
            <option value="4">D4</option>
            <option value="6">D6</option>
            <option value="8">D8</option>
            <option value="10">D10</option>
            <option value="12">D12</option>
          </select>
        </div>
        <div class="improv-table">
          <b>Critial Hit Range</b>
          <select id="critRange" [(ngModel)]="weapon.critRange" (blur)="validate('critRange', 'critRange')" (change)="setCrit()">
            <option value="18,19,20">18-20</option>
            <option value="19,20">19-20</option>
            <option value="20">20</option>
          </select>
        </div>
        <div class="improv-table">
          <b>Critical Hit Multiplier</b>
          <select id="weaponCrit" [(ngModel)]="weapon.critDamage" (blur)="validate('weaponCrit', 'critDamage')">
            <option value="2">X 2</option>
            <option value="3">X 3</option>
            <option value="4">X 4</option>
          </select>
        </div>
        <div class="improv-table">
          <b>Damage Modifier</b>
          <select id="weaponMod" [(ngModel)]="weapon.modifier" (blur)="validate('weaponMod', 'modifier')">
            <option selected hidden>--Select the Damage Modifier</option>
            <option *ngFor="let attr of attributes | enumToArray" value="{{ attr }}">{{ attr }}</option>
          </select>
        </div>
        <div *ngIf="isRangedWeapon">
          <div class="improv-table rangedWeapon">
            <b>Range</b>
            <input id="weaponRange" [(ngModel)]="weapon.range" step="5" (blur)="validate('weaponRange', 'range')">
          </div>
          <div class="improv-table rangedWeapon">
            <b>Ammo (if any)</b>
            <input id="weaponAmmo" [(ngModel)]="weapon.ammo" step="5" (blur)="validate('weaponAmmo', 'ammo')">
          </div>
        </div>
        <div class="improv-table" >
            <b>Element</b>
            <input type="checkbox" [(ngModel)]="isElemental" (click)="makeElement()">
          </div>
        <div *ngIf="isElemental">
          <div class="improv-table">
            <b>Element Type</b>
            <select id="eType" [(ngModel)]="elemental.type" (blur)="validateElement('eType','type')">
              <option *ngFor="let elem of elements | enumToArray" value="{{ elem }}">{{ elem }}</option>
            </select>
          </div>
          <div class="improv-table">
            <b>Number of Elemental Dice</b>
            <select id="elementalMult" [(ngModel)]="elemental.numberOfAttacks" (blur)="validateElement('elementalMult', 'numberOfAttacks')">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
          </div>
          <div class="improv-table">
            <b>Elemental Dice Type</b>
            <select id="elementDam" [(ngModel)]="elemental.attack" (blur)="validateElement('elementDam','attack')">
                <option value="4">D4</option>
                <option value="6">D6</option>
                <option value="8">D8</option>
                <option value="10">D10</option>
                <option value="12">D12</option>
              </select>
          </div>
        </div>
        
      </div>
      <div class="submit-button">
        <button class="center" (click)="saveWeapon()">Save Weapon</button>
      </div>
    </div>
  </div>
</div>

<button (click)="addWeapon()">New Weapon</button>

<div *ngIf="character.weapons" class="table">
  <table>
    <thead>
      <tr>
        <th>Weapon Name</th>
        <th>Weapon Type</th>
        <th>Weapon Damage</th>
        <th>Critical Hit Range</th>
        <th>Critical Multiplier</th>
        <th>Damage Modifier</th>
        <th>Range</th>
        <th>Ammo</th>
        <th>Element</th>
        <th>Elemental Damage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let weapon of character.weapons" [class.din]="weapon.modifier === 'Strength' || weapon.modifier === 'Intelligence'"
      [class.farore]="weapon.modifier === 'Dexterity' || weapon.modifier === 'Charisma'" [class.nayru]="weapon.modifier === 'Wisdom' || weapon.modifier === 'Constitution'">
        <td>{{ weapon.name }}</td>
        <td>{{ weapon.type }}</td>
        <td>{{ weapon.numberOfAttacks }}D{{ weapon.attack }}</td>
        <td>{{ weapon.critRange }}</td>
        <td>X{{ weapon.critDamage }}</td>
        <td>{{ weapon.modifier }}</td>
        <td>{{ weapon.range ? weapon.range : 'N/A' }}</td>
        <td>{{ weapon.ammo ? weapon.ammo : 'N/A' }}</td>
        <td>{{ weapon.element ? weapon.element.type : 'N/A'}}</td>
        <td>{{ weapon.element ? ((weapon.element.numberOfAttacks !== null && weapon.element.attack !== null) ? weapon.element.numberOfAttacks + 'D' + weapon.element.attack : 'N/A'): 'N/A'}}</td>
      </tr>
    </tbody>
  </table>
  <!-- TODO: Add weapon table here and implement rolling logic-->
</div>