<div class="jumbo">
  <div [class.loading]="loading">
    <h2 class="no-padding">Welcome to ZeldaPlay!</h2>
    <p>
      I hope you enjoy the use of this app. If you would like to use the
      services please register!
    </p>
    <p>
      If you already have an account please
      <a [routerLink]="['/login']">login here</a>.
    </p>
    <div class="custTable">
      <div class="row">
        <div class="cell input">
          <mat-form-field class="user">
            <input
              matInput
              [(ngModel)]="username"
              type="email"
              placeholder="Email"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="cell input">
          <mat-form-field class="user">
            <input
              matInput
              [(ngModel)]="password"
              type="password"
              placeholder="Password"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="cell input">
          <mat-form-field class="user">
            <input
              matInput
              [(ngModel)]="passwordConfirmation"
              type="password"
              placeholder="Confirm Password"
            />
          </mat-form-field>
        </div>
      </div>
      <div *ngFor="let i of [0, 1, 2]">
        <div class="row">
          <div class="cell input question">
            <mat-form-field class="user">
              <mat-select
                id="{{ 'answer' + i }}"
                [(ngModel)]="answers[i].question"
                (selectionChange)="removeQuestion(answers[i].question)"
                (selectionChange)="restoreQuestions()"
                placeholder="Choose a recovery question."
              >
                <mat-option
                  *ngFor="let q of shownQuestions"
                  value="{{ q.qQuestion }}"
                >
                  {{ q.qQuestion }}
                </mat-option>
                <div *ngIf="answers[i].question">
                  <mat-option value="{{ answers[i].question }}">{{
                    answers[i].question
                  }}</mat-option>
                </div>
                <mat-option> None </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="cell input question">
            <mat-form-field class="user">
              <input matInput [(ngModel)]="answers[i].answer" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <button mat-flat-button (click)="register()">Register</button>
  </div>
</div>
