<div class="jumbo">
  <div [class.loading]="loading">
    <h2 class="no-padding">Welcome to ZeldaPlay!</h2>
    <p>To register, please click <a [routerLink]="['/register']">here.</a></p>
    <div class="custTable">
      <div class="row">
        <mat-form-field class="user">
          <input
            matInput
            type="email"
            [(ngModel)]="username"
            placeholder="Email"
          />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="user">
          <input
            matInput
            [(ngModel)]="password"
            type="password"
            placeholder="Password"
          />
        </mat-form-field>
      </div>
    </div>
    <button mat-flat-button (click)="login()">Login</button>
  </div>
</div>
