.nav-bar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 4em;
  transition: 0.5s;
  .navButton {
    padding: 0.5em 0.5em 0.5em 2em;
    text-decoration: none;
    font-size: 1.5em;
    color: #818181;
    display: block;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      background-color: #444;
    }
  }
  .closeBtn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 1.5em;
    font-size: 2em;
    margin-left: 3.5em;
  }
}
.menuIcon {
  cursor: pointer;
}
.menuBar {
  width: 2em;
  height: 0.3em;
  background-color: #444;
  margin: 0.45em 0;
}
.foot {
  margin-top: 5em;
  margin-bottom: 0.5em;
  font-size: 10pt;
}
.tab {
  width: calc(100% / 3);
}
.stat {
  display: inline;
  font-weight: bold;
}
.description {
  position: relative;
}
.hidden {
  color: #fff;
  &:hover {
    color: #888;
  }
}
