@import '../../scss/base/colors';

.alert {
  background-color: rgba(200, 200, 200, 0.5);
  text-align: center;
  padding: 0.5em;
  border-radius: 7px;
  border: 0.5px solid black;
  font-size: 125%;
  &-success {
    color: #087008;
  }
  &-danger {
    color: $error;
  }
}
