<div class="column-holder">
  <div class="character-column">
    <h2>My Characters</h2>
    <ul class="characters">
      <li *ngFor="let character of characters" (click)="onSelect(character)" [class.selected]="character===selectedCharacter">
        <span class="badge">{{ character.race }}</span>
        <span class="text">{{ character.name }}</span>
      </li>
    </ul>

    <button *ngIf="selectedCharacter" (click)="hide()">Hide Character Sheet</button>
    <br/>
    <button (click)="newCharacter()">Create Character</button>
  </div>

  <div class="details-column">
    <app-character-detail [character]="selectedCharacter"></app-character-detail>
    <div *ngIf="newChar">
      <app-character-create [CharacterParent]="this"></app-character-create>
    </div>
  </div>

</div>