/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
h1 {
  color: rgb(19, 85, 41);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  text-align: center;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
.crit{
  font-size: 14pt;
  color: gold;
}
.critmiss{
  font-size: 14pt;
  color:red;
}
.maxDmg{
  font-size: 14pt;
  color: green;
}
.details{
  width: 33%;
  float: left;
}
.skills{
  height: 75vh;
  width: 67%;
  float: left;
}
.info{
  color: rgb(143, 142, 142);
  float: right;
}
.scrollable{
  overflow-y: scroll;
}
tr:nth-child(even){
  background-color: #eeeeee;
}
td{
  margin: 5px;
  padding: 5px;
  text-align: center;
}
td.name{
  text-align: left;
}
td.mod{
  text-align:left;
}
th{
  margin: 5px;
}
.column-holder::after{
  content: "";
  display: table;
  clear: both;
}
input{
  width: 50px;
}

@media (max-width: 900px){
  .skills{
    width: 100%;
  }
  .details{
    width: 100%
  }
}

@media (max-width: 600px){
  .skills{
    width: 100%;
  }
  .details{
    width: 100%
  }
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}