<div *ngIf="newSpell">
  <div class="modal" [class.showModal]="newSpell">
    <div class="modal-content smaller">
      <div class="modal-header">
        <span class="close" (click)="addSpell()">&times;</span>
        <h2>Add Spell</h2>
      </div>
      <div class="modal-body">
        <div class="table-holder">
          <div class="improv-table">
            <b class="head">Spell name</b>
            <input id="spellName" type="text" [(ngModel)]="spell.name" title="Enter the spell's name here" class="name" (blur)="validate('spellName', 'name')">
          </div>
          <div class="improv-table">
            <b class="head">Spell Effect</b>
            <textarea id="spellEffect" rows="2" [(ngModel)]="spell.effect" title="Enter what the spell does" class="description" (blur)="validate('spellEffect', 'effect')"></textarea>
          </div>
          <div class="improv-table">
            <b class="head">Number of Dice</b>
            <select id="spellMult" [(ngModel)]="spell.multiplier" (blur)="validate('spellMult', 'multiplier')">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
          <div class="improv-table">
            <b class="head">Dice Type</b>
            <select id="spellDam" [(ngModel)]="spell.damage" (blur)="validate('spellDam','damage')">
              <option value="4">D4</option>
              <option value="6">D6</option>
              <option value="8">D8</option>
              <option value="10">D10</option>
              <option value="12">D12</option>
            </select>
          </div>
          <div class="improv-table">
            <b class="head">Modifier (if any)</b>
            <select id="spellMod" [(ngModel)]="spell.modifier">
              <option value="null">None</option>
              <option value="Intelligence">Intelligence</option>
              <option value="Wisdom">Wisdom</option>
              <option value="Charisma">Charisma</option>
            </select>
          </div>
          <div class="improv-table">
            <b class="head">MP Use</b><br/>
            <input type="number" id="mpUse" [(ngModel)]="spell.mpUse" min="0" (blur)="validate('mpUse', 'mpUse')">
          </div>
          <div class="improv-table">
            <b class="head">Magic Type</b>
            <select id="spellGod" [(ngModel)]="spell.diety" (blur)="validate('spellGod', 'diety')">
              <option *ngFor="let diety of dieties | enumToArray" value="{{ diety }}">{{ diety }}</option>
            </select>
          </div>
          <div class="improv-table">
            <b class="head">Submit</b><br/>
            <button class="save" (click)="saveSpell()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button (click)="addSpell()">New Spell</button>
<div *ngIf="character.spells">
  <table>
    <thead>
      <tr>
        <th>Spell name</th>
        <th>Spell Description</th>
        <th>Effect Die</th>
        <th>MP Use</th>
        <th>Magic Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let spell of character.spells" [class.nayru]="spell.diety === 'Nayru'" [class.farore]="spell.diety === 'Farore'" [class.din]="spell.diety === 'Din'">
        <td>{{ spell.name }}</td>
        <td>{{ spell.effect }}</td>
        <td>{{ spell.multiplier }}D{{ spell.damage }}</td>
        <td>{{ spell.mpUse }}</td>
        <td>{{ spell.diety }}</td>
      </tr>
    </tbody>
  </table>
</div>