.foot {
  margin-top: 5em;
  font-size: 10pt;
  margin-bottom: 0.5em;
}
.tab {
  width: calc(100% / 3);
}
.stat {
  display: inline;
  font-weight: bold;
}
.description {
  position: relative;
}
.hidden {
  color: #fff;
}
.hidden:hover {
  color: #888;
}
